// ------------------------------------- //
// Style of Variables
// ------------------------------------- //

$gray-base: #000;
$gray-dark: #4d4e53;
$gray-light: #d4dde4;
$gray-lighter: #eaeff2;

$brand-blue: #0095dd;
$brand-warning: #9cf49c;
$brand-syntax: #dde4e9;
$brand-note: #fff4cc;

$text-color: $gray-dark;
$link-color: $brand-blue;

$persona-color: #43a6e2;
$github-color: #5d649a;

$crumbs-color: #c1c2c4;

$side-color: #f4f7f8;
