@@if (type === 'col') {
<div class="nav-submenu">
    <div class="nav-submenu__column">
        <ul class="nav-submenu__list">
            <li class="nav-submenu__item">
                <a class="nav-submenu__link" href="#">Add-ons</a>
            </li>
            <li class="nav-submenu__item">
                <a class="nav-submenu__link" href="#">Firefox</a>
            </li>
            <li class="nav-submenu__item">
                <a class="nav-submenu__link" href="#">Firefox Marketplace</a>
            </li>
            <li class="nav-submenu__item">
                <a class="nav-submenu__link" href="#">Firefox OS</a>
            </li>
            <li class="nav-submenu__item">
                <a class="nav-submenu__link" href="#">Persona</a>
            </li>
        </ul>
    </div>
    <button type="button" class="nav-submenu__close transparent">
        <span class="blind">Close submenu</span>
        <i class="fa fa-times-circle"></i>
    </button>
</div>
}

@@if (type === 'col2') {
<div class="nav-submenu nav-submenu--col-2">
    <div class="nav-submenu__column">
        <span class="nav-submenu__title">Technologies</span>
        <ul class="nav-submenu__list">
            <li class="nav-submenu__item">
                <a class="nav-submenu__link" href="#">HTML</a>
            </li>
            <li class="nav-submenu__item">
                <a class="nav-submenu__link" href="#">CSS</a>
            </li>
            <li class="nav-submenu__item">
                <a class="nav-submenu__link" href="#">JavaScript</a>
            </li>
            <li class="nav-submenu__item">
                <a class="nav-submenu__link" href="#">Graphics</a>
            </li>
            <li class="nav-submenu__item">
                <a class="nav-submenu__link" href="#">APIs / DOM</a>
            </li>
            <li class="nav-submenu__item">
                <a class="nav-submenu__link" href="#">Apps</a>
            </li>
            <li class="nav-submenu__item">
                <a class="nav-submenu__link" href="#">MathML</a>
            </li>
        </ul>
    </div>
    <div class="nav-submenu__column nav-submenu__column--last">
        <span class="nav-submenu__title">References & Guides</span>
        <ul class="nav-submenu__list">
            <li class="nav-submenu__item">
                <a class="nav-submenu__link" href="#">Learn the Web</a>
            </li>
            <li class="nav-submenu__item">
                <a class="nav-submenu__link" href="#">Tutorials</a>
            </li>
            <li class="nav-submenu__item">
                <a class="nav-submenu__link" href="#">References</a>
            </li>
            <li class="nav-submenu__item">
                <a class="nav-submenu__link" href="#">Developer Guides</a>
            </li>
            <li class="nav-submenu__item">
                <a class="nav-submenu__link" href="#">Accessibility</a>
            </li>
            <li class="nav-submenu__item">
                <a class="nav-submenu__link" href="#">Demos</a>
            </li>
            <li class="nav-submenu__item">
                <a class="nav-submenu__link" href="#">...more docs</a>
            </li>
        </ul>
    </div>
    <button type="button" class="nav-submenu__close transparent">
        <span class="blind">Close submenu</span>
        <i class="fa fa-times-circle"></i>
    </button>
</div>
}
