// ------------------------------------- //
// Style of AuthPicker
// ------------------------------------- //

$module: 'auth-picker';

.#{$module} {
    display: none;
    position: relative;
    z-index: 1000;

    &__list {
        background: #fff;
        border-radius: 0 0 8px 8px;
        overflow: hidden;
    }

    &__item {
        i {
            margin-right: 10px;
        }

        a {
            width: 100%;
            display: block;
            padding: 6px 8px;
            position: relative;
        }

        a:hover {
            background: rgba(0, 149, 221, .1) none repeat scroll 0 0;
        }
    }
}
